@model IEnumerable<PremiereApp.Models.Customer>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Nom
        </th>
        <th>
           Compagnie
        </th>
        <th>
          
        </th>
    
    </tr>

@foreach (var item in Model) {
    <tr>
        <td data-id="@item.CustomerID" >
            @string.Format("{0} {1}", item.FirstName, item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CompanyName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CustomerID }) |
            @Html.ActionLink("Details", "Details", new { id=item.CustomerID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CustomerID })
        </td>
    </tr>
}
</table>
<div class="popup" id="popup"  ></div>

@section scripts {
    <script>
        $(function () {
            $("td").mouseenter(function (evt) {
                var id = evt.target.getAttribute("data-id");
                if(id){
                    $.ajax({
                        dataType: "json",
                        url: "/api/commandes/" + id,
                        success: function (data) {
                            $("#popup").empty();
                            $("#popup").addClass("visible");
                            $.each(data, function (i, item) {
                                $("<p />").
                                    text("commande: " + item.OrderDate).
                                    appendTo("#popup");
                            });
                        }
                    });
                }
            });
        });


    </script>
    
    
    }