@using PremiereApp.Extensions

@model IEnumerable<PremiereApp.Models.Subscriber>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreationDate)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreationDate)
            </td>
            <td>
                @Html.GlyphActionLink("pencil", "Modifier", "Edit", new { id = item.SubscriberId }) |
                @Html.GlyphActionLink("th-list", "Détails", "Details", new { id = item.SubscriberId }) |
                @Html.GlyphActionLink("trash", "Supprimer", "Delete", new { id = item.SubscriberId })
            </td>
        </tr>
    }
</table>

